body {
background-color: black;
font-family: palatino linotype;
font-size: 40px;
}
h1 {
color: red;
text-align: center;
margin-top: 50px;
}
h2 {
	color: blue;
	text-align: right;
	margin-right: 35px;
}
p {
	color: white;
	text-align: right;
	margin-right: 20px;
}